@import "variables";
@import "mixins";
@import "media-queries";

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    // border: 2px solid red;
    font-family: 'Montserrat', sans-serif;
}

.vl1, .vl2, .vl3, .vl4, .vl5, .vl6, .vl7, .vl8, .vl9, .vl10, .vl11, .vl12{
    box-shadow: 0px 0px 0px 0.1px #f6f8f8;
    height: 100%;
    position: absolute;
    top: 0;
    // bottom: 0;
    z-index: 999999;
}

.vl7, .vl8, .vl9, .vl10, .vl11, .vl12{
    height: 1000px;
    top: 200%;
    z-index: 999999;
    // border: 1px solid red;
}
.vl1, .vl7{
    left: 12%;
}
.vl2, .vl8{
    left: 27%;
}
.vl3, .vl9{
    left: 42%;
}
// .vl4{
//     left: 57%;
//     // z-index: 1000000;
// }

.vl4,.vl10{
    left: 58%;
    // height: 500px;
    // right: -10%;
    // right: -1%;
}
.vl5, .vl11{
    left: 72%;
}
.vl6, .vl12{
    left: 87%;
}

// body{
//     margin:0;
// }
// body{
//     height: 200vh;;
// }

header{
    // box-shadow: 0px 1px 15px 0.5px white;
    background-color: $navBackground;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    // padding-top: 10px;
    // left:0;
    z-index: 1;

    .hamburger{
        // width: 30px;
        display: none;
        // border: 2px solid red;

        img{
            width: 100%;
            object-fit: contain;
            // border: 2px solid white;
        }

        @include mediumDevices{
            display: unset;
            width: 35px;
            margin-right: 20px;
        }
    }

    // @include mediumDevices{
    //     // padding-bottom: -100px;
    //     border: 2px solid red;
    // }
}

.cta{
        // border: 2px solid red;
        font-size: .7rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $ctaColor;
        text-decoration: none;
        color: white;
        padding: 12px 30px;
        border-radius: 40px;
         
        &:hover{
            background-color: #0069d9c0;
            border-bottom: none;
        }
    
    }

    

.navbar{
    width: 100%;
    margin-left: 6vw;
    // padding:5px;
    // margin-top: -5px;
    // position: relative;
    // border: 2px solid red;

    .logo{
        // position: absolute;
        width: 200px;
        // padding: 10px;
        height: 80px;
        padding: 5px;
        // margin: 0px 2px 2px;
        // border: 2px solid red;
        // position: fixed;
        // left: 
    
        img{
            // margin-top: 5px;
            width: 100%;
            // height: 80px;
            // padding-top: 5px;

            @include largeDevices{
                width: 90%;
            }
            // padding: 10px;
        }
    }

    // @include mediumDevices{
    //     margin-left: 20px;
    //     margin-bottom: -15px;
    // }

    @include largeDevices{
        margin-left: 20px;
        margin-bottom: -10px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .navbar{
        margin-left: 10px;
    } 

    // .navbar-container{
    //     margin-right: 20px;
    // }
}

.navbar-container{
    width: 2000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px;

    .nav-item{
        list-style: none;

        i{
            color:white;
            padding: 5px;
        }

        .nav-link{
            text-decoration: none;
            color:white;
            font-size: .7rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover{
                border-bottom: 1px solid white;
            }
        }
    }

    @include largeDevices{
        margin-right: 20px;
    }

    @include mediumDevices{
        display: none;
    }
}

.banner{
    padding-bottom: 40px;
    width: 100%;
    background: linear-gradient( 
        $navBackground 0%, 
        $navBackground 50%,
        $primaryBackground 50%, 
        $primaryBackground 100% 
        );  

    .banner-image{
        // width: 76%;
        width: 75rem;
        margin: 0 auto;
        position: relative;
        // margin: 0 auto;

        img{
            width: 100%;
        }

        h1{
            position: absolute;
            font-size: 2.5rem;
            font-weight: 900;
            text-shadow: 4px 2px #2d2d2d75;
            top: 50%;
            width: 100%;
            // border: 2px solid white;
            text-align: center;
            color: white;
        }

        @include largeDevices{
            width: 95%;
        }

        @include smallDevices{
            width: 100%;

            h1{
                position: unset;
                background-color: $navBackground;
                padding: 20px;
                font-weight: 900;
                font-size: 1.5rem;
            }
        }
    }
}

hr{
    width: 80px;
    height: 2px;
    // padding-top: 50px;
    margin: 60px auto 0;
    background-color: red;
    border: none;
}

.gallery{
    // border: 2px solid red;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        margin: 20px 0;
        text-align: center;
    }

    p{
        font-size: 1.1rem;
        width: 850px;
        // border: 2px solid red;
        text-align: center;
        letter-spacing: 1px;
        color: #4F373F;
        line-height: 20pt;

        @include mediumDevices{
            width: 80%;
        }
    }
}

.gallery-container{
       width: 76%;
       margin: 0 auto;
       height: 600px;
       margin-top: 20px;

       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: repeat(16, 1fr);

       .image-item{
        //    border: 2px solid black;
           margin: 5px;

           @include smallDevices{
               height: 300px;
           }

           img{
            width: 100%;
            height: 100%;
           }
       }

       .image1{
            grid-area: 1/1/17/6;
       }

       .image2{
            grid-area: 1/6/11/9;
       }

       .image3{
            grid-area: 11/6/17/9;
       }

       .image4{
            grid-area: 1/9/7/13;
       }

       .image5{
            grid-area: 7/9/17/13;
       }

       @include largeDevices{
            width: 90%;
       }

       @include mediumDevices{
           width: 90%;
       }

       @include smallDevices{
            display: inline-flex;
            flex-wrap: wrap;
            width: 70%;
            height: auto;
       }
}

// jobs
.jobs{
    width: 100%;;
    background-color: $thirdBackground;
    border-top: 1px solid rgba(182, 196, 233, 0.815);
    padding-bottom: 60px;

    h1{
        text-align: center;
        margin: 20px 0;
    }

    .job-container{
        width: 75%;
        // border: 2px solid red;
        margin: 0 auto;

        h4{
            margin: 10px 0;
        }

        .job-dropdown{
            width: 100%;
            height: 60px;
            margin-bottom: 40px;
            border-radius: 5px;
            background-color: white;
            font-size: 1.2rem;
            padding: 10px;
            
            &:focus{
                border: 1px solid rgb(216, 213, 213);
            }

            option{
                font-size: 1rem;
                margin: 10px;
            }
        }

        .sec{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            h2{
                font-weight: 900;
                letter-spacing: 1px;
                padding-left: 10px;
            }

            a{
                padding-left: 10px;
                font-size: 1rem;
                text-decoration: none;
                color: $ctaColor;
                font-weight: 600;
                letter-spacing: 1px;
            }

            p{
                @include smallDevices{
                    padding:10px;
                }
            }

            @include smallDevices{
                flex-direction: column;
                // padding: 10px;
            }
        }

        @include largeDevices{
            width: 95%;
        }
    }
}

.job-container hr{
        width: 100%;
        height: 1px;
        margin: 0;
        background-color: rgba(128, 128, 128, 0.397);
}

footer{
    width: 100%;
    background-color:$navBackground;
    // height: 100px;
    color: white;
    // padding-top: 80px;
    // padding-bottom: 50px;
    padding: 80px 0 50px;
    // border: 2px solid red;

    .footer-container{
        width: 75%;
        margin: 0 auto;
        // border: 2px solid white;

        h2{
            text-align: center;
            margin-bottom: 20px;
            font-size: 2rem;
        }

        span{
            display: block;
            width: 100%;
            text-align: center;
            // border: 2px solid green;
            padding: 40px 0;

            a{
                // border: 2px solid red;
                background-color: $ctaColor;
                text-decoration: none;
                color: white;
                padding: 15px 20px;
                border-radius: 40px;
                font-size: .8rem;
                font-weight: 700;
            }

            a:hover{
                background-color: #0069d9c0;
            }
        }

        p{
            font-size: 14px;
            padding-bottom: 20px;

            @include smallDevices{
                text-align: center;
            }
        }

        img{
            width:70px;

            @include smallDevices{
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.footer-links{
    display: flex;
    justify-content: space-between;

    @include smallDevices{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }

    .privacy{
        // transition: border-bottom 2s ease;
        a{
            text-decoration: none;
            color:white;
            margin-right: 20px;
            font-size: 14px;
            
            &:hover{
                border-bottom: 1px solid white;
            }
        }
    }

    .icons{
        a{
            color:white;
            i{
                padding:20px;
    
                &:hover{
                    cursor: pointer;
                }
            }
        }  
    }
}